html {
  box-sizing: border-box;
  font: normal 100%/1.5 Roboto, sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.banner {
  overflow: hidden;
  padding-top: 33.3333%;
  position: relative;

  background-color: darkslateblue;
}

.banner-content {
  bottom: 3rem;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 1000;

  color: #fff;
  text-align: center;
  text-shadow: 0 1px 7px rgba(0, 0, 0, 0.9);
}

.banner-content h2 {
  margin: 0;

  font-size: 3rem;
}

.banner-content p {
  margin: 0;

  font-size: 1.5rem;
  font-style: italic;
}

.star {
  left: 0;
  height: 30px;
  position: absolute;
  top: 0;
  width: 30px;

  background: url("../images/star.svg") no-repeat center center / contain transparent;
}
